# Environnement Hostinger - Fundisc
APP_NAME=Fundisc
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://fundisc.fr

# Landing page domain
LANDING_URL=https://la-main-a-la-pate.online

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=u644586166_fundisc
DB_USERNAME=u644586166_fundisc
DB_PASSWORD=

# QR Portal Config
QR_ENABLED=true
QR_NUMBERS_ALLOWED=0610454709,0618840969

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
